<a class="content_over_link" href="">
<div class="content">
  <div class="content__image">
    <img src="<%= content.image_url %>" alt="<%= content.title %>" width="340px" height="140px" style="">
  </div>
  <div class="content__title"><%= content.title %></div>
  <time datetime="<%= content.up_time %>"></time>
  <div class="content__source"><%= content.source %></div>
</div>
</a>
