<!DOCTYPE html>
<html>
  <head>
    <title>PickSpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <form>
        <input type="text" name="search" placeholder="  検索する" class="header_search">
      </form>
      <h1>Pick-Space</h1>
      <label for="label1">name</label>
      <input type="checkbox" id="label1" class="cssacc" />
        <div class="accshow">
          <div class="my_config">ログアウト</div>
        </div>
    </header>
    <%= yield %>
  </body>
</html>
