<!DOCTYPE html>
<html>
  <head>
    <title>PickSpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <form>
        <input type="text" name="search" class="header_search">
        <input type="button" name="" value="検索" class="header_btn">
      </form>
      <a>
        <h1>Pick-Space</h1>
      </a>
      <div class="my_config">name</div>
    </header>
    <%= yield %>
  </body>
</html>
